.ads-container {
	background-image: url('../images/Ads.png');
	width: 70rem;
	height: 22rem;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
}

.section-header {
	color: var(--pure-white);
	font-weight: 700;
	font-size: 2rem;
	margin-top: 32px;
}

.featured-albums {
	display: flex;
	width: 70rem;
	overflow-y: hidden;
	/* overflow-x: hidden; */
	overflow-x: scroll;
	scrollbar-width: none;
}

.featured-albums::-webkit-scrollbar {
	display: none;
}

.albums {
	display: flex;
	background-color: var(--gray);
	align-items: center;
	color: var(--pure-white);
	min-width: 416px;
	height: 152px;
	border-radius: 8px;
	margin-right: 24px;
}

.album-art {
	width: 152px;
	height: 152px;
	background-image: url('../images/featured/art1.png');
	border-radius: 8px 0 0 8px;
}

.album-description {
	padding: 26px 16px;
}

.album-title {
	font-weight: 600;
	font-size: 34px;
}

.album-artise {
	font-weight: 400;
	font-size: 16px;
	margin-top: 4px;
}

.album-genre {
	padding: 8px;
	width: 71px;
	height: 32px;
	background-color: var(--orange);
	border-radius: 16px;
	font-weight: 500;
	font-size: 12px;
	color: var(--deep-gray);
	margin-top: 16px;
}
